<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/img/favicon.ico">

    <!-- CSS here -->


        <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/user/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/user/assets/css/flaticon.css">
        <link rel="stylesheet" href="/user/assets/css/slicknav.css">
        <link rel="stylesheet" href="/user/assets/css/animate.min.css">
        <link rel="stylesheet" href="/user/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/user/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/user/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/user/assets/css/slick.css">
        <link rel="stylesheet" href="/user/assets/css/nice-select.css">
        <!-- <link rel="stylesheet" href="/user/assets/css/style.css"> -->
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-xl-10" >
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                           style="width: 185px;" alt="logo"> -->
                      
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                      </div>
      
                      <form action="/login" method="post">
                        <p>Please login to your account</p>
                        <br>
      
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example11" name="email" class="form-control"
                            placeholder="Email address"  required/>
                          <label class="form-label" for="form2Example11"></label>
                        </div>
                        <span id="er1 " style="color: red;"></span>

      
                        <div class="form-outline mb-4">
                          <input placeholder="Password" type="password" id="form2Example22" name="password" class="form-control" required />
                          <label  class="form-label" for="form2Example22"></label>

                        </div>
                        <span id="er2" style="color: red;"></span>

                        
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn btn-primary btn-lg" >Login</button>  
                          <a class="text-muted" href="/forget">Forgot password?</a>

                        </div>
                          
                   
                        
                        

                        <div class="d-flex align-items-center justify-content-center pb-4">
                          

                          <p class="mb-0 me-2">Don't have an account?</p>
    
                          <a  href="/register">Create new</a>
                          <!-- <button type="button" class="btn btn-outline-danger">Create new</button> -->
                        </div>
                        <% if(typeof message !== 'undefined'){ %>
                          <span id="er2" style="color: rgb(254, 0, 0);text-align: center;"><%= message%> </span>
                          <% } %>
              
      
                      </form>
      
                    </div>

                  </div>

                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                     <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                            <img src="https://us.123rf.com/450wm/chronicler101/chronicler1011708/chronicler101170800634/84886817-vector-drawing-of-an-antique-pocket-watch.jpg?ver=6"  class="img-fluid" alt="Sample image"
                            alt="">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" -->
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <script>
        const Fname=document.getElementById('form2Example11')
        const password = document.getElementById('form2Example22')

        password.addEventListener('input',() => {
          if(password.value.trim().length< 8){
          password.setCustomValidity('Password must 8 digit')
          }else{
            password.setCustomValidity("")
          }
        })
        Fname.addEventListener('input',()=>{
          if(Fname.value.trim().length==''){
            Fname.setCustomValidity('Must fill this field')
          }

        })
       

      </script>

    
    
    <!-- JS here -->

    <script src="./user/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./user/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./user/assets/js/popper.min.js"></script>
    <script src="./user/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./user/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./user/assets/js/owl.carousel.min.js"></script>
    <script src="./user/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./user/assets/js/wow.min.js"></script>
    <script src="./user/assets/js/animated.headline.js"></script>
    
    <!-- Scroll up, nice-select, sticky -->
    <script src="./user/user/assets/js/jquery.scrollUp.min.js"></script>
    <script src="./user/assets/js/jquery.nice-select.min.js"></script>
    <script src="./user/assets/js/jquery.sticky.js"></script>
    <script src="./user/assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./user/assets/js/contact.js"></script>
    <script src="./user/assets/js/jquery.form.js"></script>
    <script src="./user/assets/js/jquery.validate.min.js"></script>
    <script src="./user/assets/js/mail-script.js"></script>
    <script src="./user/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./user/assets/js/plugins.js"></script>
    <script src="./user/assets/js/main.js"></script>

</body>
    
</html>